@use 'sass:map';

@use '@/styles/variables.scss';

.button {
	display: flex;
	align-items: center;
	color: map.get(variables.$colors, actions-button-grey);

	&__icon {
		margin-inline-end: 8px;
		fill: map.get(variables.$colors, actions-button-grey);
	}

	&__likeIcon--selected {
		fill: map.get(variables.$colors, button-blue);
	}

	&__text {
		font-size: 1.4rem;
		font-weight: 500;
	}

	&__likeText--selected {
		color: map.get(variables.$colors, button-blue);
	}
}
